body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:auto ;
    height: auto;
}

.quiz-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    margin-bottom: 20px; /* Add space between quiz and personal info */
}

#personal-info {
    background-color: #12cff0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: left;
}

#personal-info h2 {
    margin-bottom: 10px;
    color: #333;
}

#personal-info p {
    margin: 5px 0;
    color: #555;
}

#score, #wrong-answers {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

#answers button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#answers button:hover {
    background-color: #0056b3;
}

#next-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    display: none;
}

#next-btn:hover {
    background-color: #218838;
}